@font-face {
    font-family: 'Rajdhani';
    src: url('../public/fonts/Rajdhani/fonts/Rajdhani-Light.woff2') format('woff2'),
        url('../public/fonts/Rajdhani/fonts/Rajdhani-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../public/fonts/Rajdhani/fonts/Rajdhani-Regular.woff2') format('woff2'),
        url('../public/fonts/Rajdhani/fonts/Rajdhani-Regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../public/fonts/Rajdhani/fonts/Rajdhani-Medium.woff2') format('woff2'),
        url('../public/fonts/Rajdhani/fonts/Rajdhani-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../public/fonts/Rajdhani/fonts/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../public/fonts/Rajdhani/fonts/Rajdhani-SemiBold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../public/fonts/Rajdhani/fonts/Rajdhani-Bold.woff2') format('woff2'),
        url('../public/fonts/Rajdhani/fonts/Rajdhani-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}